html {
    background-color: #fdf8f5;
}

section {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    max-width: 600px;
}

section p {
    line-height: 150%;
}

ul li {
    margin-bottom: 8px;
}

code {
    border-radius: 3px;
}

.wrapper {
    max-width: 900px;
    margin: auto;
    font-family: roboto, sans-serif;
}

.button {
    text-decoration: none;
    border: 2px solid saddlebrown;
    display: inline-block;
    color: #994306;
    padding: 4px 12px 3px;
    border-radius: 3px;
}
.button:hover {
    background-color: rgb(107, 53, 14);
    background-color: #994306;
    color: #fff;
}

a.link {
    color: #994306;
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 90%;
}

.hero-banner {
    display: flex;
    align-items:center;
    margin: 60px 0;
    max-width: none;
}

.hero-banner .logo {
    max-width: 130px;
    padding: 40px
}

.hero-banner h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
.hero-banner h2 {
    font-size: 20px;
    font-weight: normal;
}

@media only screen and (max-width: 500px) {
  .hero-banner .logo {
    max-width: 85px;
    padding: 15px 20px 15px 10px;
  }
}

.example .button {
    margin-top: 15px;
    margin-left: 5px;
}


.fa-twitter {
    color: #1d9bf0;
}
.fa-github {
    color: #24292f;
}
.fa-rss {
    color: #ff7731;
}

.follow {
    border-top: 1px solid #cdcdcd;
    padding-top: 30px;
    margin-bottom: 30px;
}

.follow-links a {
    color: #000;
}
.follow-links {
    display: flex;
    justify-content: space-around;
}
.follow-links li {
    margin-bottom: 15px;
}