.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.punchline {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

.punchline > .logo {
    width: 200px;
    height: 200px;
}

.punchline > .title {
    align-self: center;
}

.secondary-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary-screen > div {
    width: 50%;
    min-width: 500px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.what > pre {
    text-align: left;
    justify-content: center;
}

.features > ul > li {
    list-style-type: none;
}

@media (max-width: 600px) {
    .secondary-screen > div {
        width: 90% !important;
        min-width: 0px !important;
    }
}
