:root {
    --bg-color: #E4D9FF;
    --dark-font-color: #30343F;
    --button-bg-color: #30343f;
    --button-font-color: #fafaff;
    --yes-button-border-color: #FAFAFF;
    --no-button-border-color: ##273469;
    --summary-border-color: #273469;
    --summary-name-font-color: #fafaff;
    --summary-name-bg-color: #273469;


    --capri: #30c5ffff;
    --gunmetal: #2a2d34ff;
    --russian-green: #5c946eff;
    --green-sheen: #80c2afff;
    --blizzard-blue: #a0dde6ff;


    --bg-color: #C8EBF0;
    --dark-font-color: #2a2d34ff;
    --button-bg-color: #5c946eff;
    --button-font-color: #2a2d34ff;
    --yes-button-border-color: #a0dde6ff;
    --no-button-border-color: ##5c946eff;
    --summary-border-color: #5c946eff;
    --summary-name-font-color: #2a2d34ff;
    --summary-name-bg-color: #5c946eff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--dark-font-color);
    line-height: 30px;
}

.button {
    background-color: var(--button-bg-color);
    cursor: pointer;
    color: var(--button-font-color);
    font-size: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 1px solid var(--button-font-color);
    box-sizing: border-box;
}

.button.yes {
    border: 1px solid var(--yes-button-border-color);
    margin-bottom: 10px;
}

.button.no {
    border: 1px solid var(--no-button-border-color);
}

.instruction {
    font-size: 4vh;
    line-height: initial;
}

.instruction > a:visited, .instruction > p > a:visited {
    color: inherit;
}

.instruction > .button.next, .button.save {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.button.hint {
    position: absolute;
    left: 0;
    bottom: 7vh;
    width: 100%;
}

.button-summary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.button.reset-position {
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}


.preference, .summary, .location, .instructions {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.location > div > div:not(.button) {
    margin-bottom: 5px;
}

.location-picture {
    max-width: 100%;
    max-height: 30vh;
}

.location-picture-delete{
    text-align: left;
    position: relative;
    top: 45px;
    left: 10px;
    font-size: 30px;
    cursor: pointer;
}

.location-summaries {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0;
    width: 100vw;
    justify-content: space-between;
}

.location-summaries-instruction {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.location-summary {
    width: 33vw;
    height: calc(calc(33vh + 18vh) - 44px);
    border: 1px solid var(--summary-border-color);
    box-sizing: border-box;
}

.location-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    object-fit: contain;
}

.location-image-container > img {
    height: 25vh;
    max-width: 100%;
    object-fit: contain;
}

.location-summary > .location-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-summary > .location-name-container > .location-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: var(--summary-name-font-color);
    background-color: var(--summary-name-bg-color);
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    word-wrap: break-word;
    cursor: pointer;
}

.loading-gps {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 4vh;
}